HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


**/.DS_Store

# =============================
# Spring Boot - 모든 하위 프로젝트 적용
# =============================

# Gradle
**/build/
**/.gradle/
**/gradle/wrapper/gradle-wrapper.jar
**/gradlew.bat

# Maven
**/target/

# IDE
**/.idea/
**/*.iml
**/.vscode/

# 환경변수
**/.env
**/application-local.yaml
**/application-local.yml

# OS
**/.DS_Store
**/Thumbs.db

./data